/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
img{
  width:50px;
  height:50px;
}
.buttonmodal
 {
  height: 50px!important;
  width: 300px!important ; 
} 
 .movieflexing{
  display: flex !important;
  flex-wrap: wrap!important;
 /* justify-content: center!important;*/
} 
.upload{
  margin :20px;
  padding:20px;
}
.flexing
{
  display: flex!important; 
  flex-wrap: wrap !important;
  justify-content: center!important;
}
.back
{ 
  background-color: beige;
}
.moviecard{
  margin:50px ;
}
.deletebutton{
  width:60%;
 margin:auto;}
 .seemore{
  width:60% !important ;
  margin:auto !important;}
  .seemore1
  {
    width: 100% !important;
  }
 .errorpage{
   display :flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color:red;
   font-weight: bold;
   height: 100vh;
   width: 100%;
   background-color: beige;
 }
 .description{
  display :flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
iframe{
  width:70%;
  height:60vh;
}